<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Serega sosjot page</title>
</head>
<body>
  <h1>Serega sosjot page</h1>
  <p>{{toUpperCase paragraphContent}}</p>
  {{> footer}}
</body>
</html>